extends ../shared/template
block content

  table.listView
    thead
      th Name
      th Balance
      th Type
      th Opened
    tbody
      each account in accounts
        tr(style='background-color: #{account.color};')
          td: a(href='/accounts/'+ account._id)= account.name
          td $#{account.balance.toFixed(2)}
          td= account.accountType
          td= moment(account.dateCreated).format('YYYY-MM-DD@hh:mm:ss')

